body {
    background: url(https://media3.giphy.com/media/136WHJXKELjk1q/giphy.gif) no-repeat center center fixed;
    background-size: cover;
}

.jumbotron {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 25px;
}

.form-inline {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 25px;
    background-color: #e9ecef;
}

#random-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .class {
    width: 18rem;
} */

#sorting {
    border-top: 1px;
    border-bottom: 1px;
}

.card-body {
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 15px 15px;
}


/*the part below belongs to the color assignment in JS and I do not have that working yet*/
/* .maroon {
    background-color: maroon;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
} */