body {
    background-color: seagreen;
}

.jumbotron {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 25px;
}

.form-inline {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    border-radius: 25px;
    background-color: #e9ecef;
}

#appear {
    display: none;
}

#random-card {
    display: flex;
    flex-direction: row;
}